<!DOCTYPE html>
<html>
    <head>
        <%- partial("_shared/_head") %>
    </head>
    <body>
        <%- partial("_shared/_header") %>
        <%- yield %>
        <%- partial("_shared/_footer") %>
        <%- partial("_shared/_footer_script") %>
    </body>
</html>
