<meta charset="utf-8">
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">

<!-- 3rd party libraries -->
<link href="<%= pathPrefix %><%= config.assets.folder_bower %>/uikit/css/uikit.min.css" media="all" rel="stylesheet" />

<!--  -->
<link href="<%= pathPrefix %><%= config.assets.folder_css %>/application.css" media="all" rel="stylesheet" />